# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Publish crates to intenral cargo registry

on:
  workflow_dispatch:
  workflow_call:
    secrets:
        ADO_HYPERLIGHT_CARGO_RW_AZURE_CLIENT_ID:
          required: true
        AZURE_TENANT_ID:
          required: true

permissions:
  contents: read
  id-token: write

jobs:
  publish-hyperlight-packages:
    environment: release
    runs-on: [self-hosted, Linux, X64, "1ES.Pool=HL-Ubuntu-22.04-KVM"]

    # We should only publish from dev if minver contains `-preview`
    if: ${{ contains(github.ref, 'refs/heads/release/') }} || ${{ github.ref=='refs/heads/dev' }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - uses: hyperlight-dev/ci-setup-workflow@v1.0.0
        with:
          rust-toolchain: "1.81.0"

      - name: Set up cargo workspaces version
        run: |
          cargo install cargo-workspaces
          cargo install minver_rs
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.Name "${{ github.actor }}"

      - name: Set crate versions
        run: |
          git fetch --tags || true
          version=$(MINVER_TAG_PREFIX=v MINVER_AUTO_INCREMENT_LEVEL=Minor MINVER_PRERELEASE_IDENTIFIER=preview minver)
          echo "Setting version to $version"
          cargo ws version --force=hyperlight_* --no-git-commit --yes custom $version
          echo "HYPERLIGHT_VERSION=$version" >> "$GITHUB_ENV"

      - name: Determine if we should publish crates
        run: |
          echo "github.ref=${{ github.ref }}"
          echo "HYPERLIGHT_VERSION=$HYPERLIGHT_VERSION"
          if [[ ${{ github.ref }} =~ 'refs/heads/release/' || ( ${{ github.ref }} == 'refs/heads/dev' &&  $HYPERLIGHT_VERSION =~ '-preview' ) ]]
          then
            echo "Setting SHOULD_PUBLISH in GITHUB_ENV"
            echo "SHOULD_PUBLISH=true" >> "$GITHUB_ENV"
          fi
      # `allow-dirty` is needed in the publish below because we are using the `--no-git-commit`
      # option above to cover the case where no changes are made by cargo ws version because the version
      # is already correct
      - name: Publish hyperlight-flatbuffers
        if: ${{ env.SHOULD_PUBLISH == 'true' }}
        run: cargo publish --manifest-path ./src/hyperlight_common/Cargo.toml --registry hyperlight_packages --allow-dirty

      - name: Publish hyperlight-guest
        if: ${{ env.SHOULD_PUBLISH == 'true' }}
        run: cargo publish --manifest-path ./src/hyperlight_guest/Cargo.toml --registry hyperlight_packages --allow-dirty

      - name: Publish hyperlight-host
        if: ${{ env.SHOULD_PUBLISH == 'true' }}
        run: cargo publish --manifest-path ./src/hyperlight_host/Cargo.toml --registry hyperlight_packages --allow-dirty

        # `--no-verify` is needed because build.rs writes to "include/hyperlight_guest.h", but since we exclude that directory in Cargo.toml, it should be fine.
        # Cargo does not want you to modify files outside of OUT_DIR
      - name: Publish hyperlight-guest-capi
        if: ${{ env.SHOULD_PUBLISH == 'true' }}
        run: cd ./src/hyperlight_guest_capi && cargo publish --registry hyperlight_packages --no-verify --allow-dirty # cd is required because of https://github.com/rust-lang/cargo/issues/10302
